
.about-item {
    display: inline-block;
	position: relative;
	overflow: auto;
}

.about-item IMG {
	float: left;
	background-color: white;
	margin: 0px 20px 20px 0px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}

.product-item H2 {
	margin-top: 0px;
	color: #066;
}

