
.case-item {
    display: inline-block;
	position: relative;
	overflow: auto;
    border-radius: 5px;
}

.case-item IMG {
	float: left;
	padding: 30px;
	background-color: white;
	width: 360px;
	margin: 5px 20px 20px 5px;
	box-shadow: 0px 0px 5px #888888;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;*/
}

.case-item H2 {
	margin-top: 0px;
	color: #066;
}