
.info-box {
    display: inline-block;
	position: relative;
	width: 380px;
	height: 250px;
	color: white;
	overflow: hidden;
    border-radius: 5px;
}

.info-title {
    margin: 15px;
    position: relative;
    z-index: 1000;
    text-align: left;
}

.info-text {
    margin: 4em 2em 1em 2.5em;
    list-style: disc;
    position: relative;
    text-align: left;
}

.hover-pane {
    position: absolute;
    width: 380px;
	height: 250px;
    top: -190px;
    left: 0px;
    background-color: #002;
    opacity: 0.8;
    filter: alpha(opacity=80); /* For IE8 and earlier */
    z-index: 10;
}

.hover-text {
    position: absolute;
    width: 380px;
	height: 250px;
    top: -190px;
    left: 0px;
    font-size: 16px;
    z-index: 20;
}

/* Chrome, Safari, Opera */
@-webkit-keyframes slider {
    0%   {top:-190px;}
    100% {top: 0px;}
}

/* Chrome, Safari, Opera */
@-webkit-keyframes unslider {
    0%   {top: 0px;}
    100% {top: -190px;}
}

/* Standard syntax */
@keyframes slider {
    0%   {top:-190px;}
    100% {top: 0px;}
}

/* Standard syntax */
@keyframes unslider {
      0%   {top: 0px;}
    100% {top:-190px;}
}

#consulting DIV
{
	vertical-align: top;
	display: inline-block;
	/*width: 380px;*/
	margin: 10px;
/*	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;*/
	box-shadow: 0px 0px 5px #888888;
	overflow: hidden;
}

#consulting DIV:HOVER
{
	box-shadow: 0px 0px 5px #000088;
}

#consulting DIV H3
{
	margin-top: 10px;
	font-size: 180%;
}

.centeredbox { text-align: center; }

.intelligence {
	background:url(../image/consulting_computational_intelligence.jpg) no-repeat;
}

.security {
	background:url(../image/consulting_crypto.jpg) no-repeat;
}

.vision {
	background:url(../image/consulting_computer_vision.jpg) no-repeat;
}

.bigdata {
	background:url(../image/consulting_bigdata.jpg) no-repeat;
}

.banking {
	background:url(../image/consulting_bigdata.jpg) no-repeat;
}

.mobile {
	background:url(../image/consulting_iphone_android.jpg) no-repeat;
}

.softeng {
	background:url(../image/consulting_softeng.jpg) no-repeat;
}
