.contact IFRAME
{
	float: none;
	margin: 0px 10px 10px 5px;

	border: 0px none transparent; 	
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	
	box-shadow: 0px 0px 5px #888888;
}

.contact DIV H3, .contact DIV H4
{
	margin: 0px;
	padding: 0px;
}

.contact DIV
{
	margin: 20px 0px;
	padding: 0px;
	overflow: hidden;
}

.contact DIV IMG
{
	float: left;
	margin: 2px 6px 2px 6px;
	padding: 5px;
	background-color: white;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0px 0px 2px #888888;
}
