***************************************************
			      Reset
***************************************************/

html, body, div, span, h1, h2, h3, h4, h5, h6, p, ol, ul, li, form, label, legend, caption, aside, details, figcaption, figure, footer,header, hgroup, menu, nav, section, summary {
    margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-weight: inherit;
	font-style: inherit;
	font-size: 100%;
	font-family: inherit;
	vertical-align: baseline;
}

ol, ul {
	list-style: none;
}


a img {border:none}


aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {display: block}


/***************************************************
			      Global styles
***************************************************/

html, body {
	width:100%;
	height:100%;
}


@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 400;
  src: local('Play'), url(http://themes.googleusercontent.com/static/fonts/play/v4/-SXnV4mZjf4oh1IBw13WZw.woff) format('woff');
}
@font-face {
  font-family: 'Play';
  font-style: normal;
  font-weight: 700;
  src: local('Play-Bold'), url(http://themes.googleusercontent.com/static/fonts/play/v4/ZzUearZLklGfoL18Ti0GaQ.woff) format('woff');
}

html, body{
	font-family: Play, cursive;
	font-size: 13px;
	color: black;
	margin:0 0 1px;
	line-height: 1.5;
	background-color: #eee;
	background-image:url(../image/bg.p ng);
	background-position:left top;
	background-repeat:repeat;
}

A
{
	outline: 0;
}

A:link    {color:black; text-decoration:none; outline: none; -moz-outline-style: none;}
A:visited {color:black; text-decoration:none; outline: none; -moz-outline-style: none;}
A:hover   {color:black; text-decoration:none; outline: none; -moz-outline-style: none;}
A:active  {color:black; text-decoration:none; outline: none; -moz-outline-style: none;}


/***********************
 *
 *   HEADER
 *
 **********************/


FOOTER
{
	width: 900px;
	margin: 0px auto 10px auto;
	display: block;
	overflow: hidden;
}


HEADER #appshow
{
	position: fixed;
	right: 30px;
	top: 30px;
	height: 26px;
	cursor: pointer;
}

HEADER #appmenu
{
	display: none;
	position: fixed;
	right: 30px;
	top: 56px;
	padding: 10px 10px 5px 10px;
	background-color: white;
	border-radius: 8px 0px 8px 8px;
	-moz-border-radius: 8px 0px 8px 8px;
	-khtml-border-radius: 8px 0px 8px 8px;
	-webkit-border-radius: 8px 0px 8px 8px;
	
	box-shadow: 0px 0px 5px #888888;
}

HEADER #appmenu IMG
{
	margin: 0px;
	height: 100px;
	padding: 5px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	border: 1px solid transparent;
}

HEADER #appmenu IMG:HOVER
{
	border: 1px solid #ccc;
}

.current
{
	background-color: #ddf;
	box-shadow: 0px 0px 5px #888 inset;
}

/*************************************************
 *
 *   SECTION
 *
 ***********************/


SECTION STRONG
{
	color: #006;
}

H1
{
	font-size: 200%;
	font-weight: bolder;
}

P
{
	font-size: 110%;
}

#contact IFRAME
{
	margin: 5px 10px 10px 5px;
	border: 0px none transparent; 	
	box-shadow: 0px 0px 5px #888888;
}

#contact DIV {
	vertical-align: top;
	margin: 10px 0px 10px 20px;
	padding: 0px;
	overflow: hidden;
	display: inline-block;
}

#contact P { margin: 0px; }

#contact FORM {
	vertical-align: top;
	margin: 10px 10px 10px 0px;
	display: inline-block;
	max-width: 400px;
}

#contact INPUT, #contact TEXTAREA {
	margin: 5px 0px 0px 0px;
	padding: 5px;
	min-width: 400px;
	resize: none;
	font-size: 120%;
}

#contact BUTTON {
	cursor: pointer;
	padding: 10px 15px;
	margin: 0px;
}


#product DIV
{
	width: 840px;
	text-align: left;
	font-size: 120%;
}

#product .logo
{
	float: right;
	width: 400px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	box-shadow: 0px 0px 5px #888888;
	margin: 0px 0px 20px 20px;
}

#product DIV H4
{
	width: 300px;
	border-style: solid;
	border-color: #008;
	border-width: 0px 0px 2px 0px;
}

#product DIV TABLE
{
	border: 2px #888 solid;
	border-collapse: collapse;
	box-shadow: 0px 0px 5px #888888 inset;
}

#product DIV TD
{
	padding: 6px 20px;
	border-color: #888;
	border-style: solid;
	border-width: 0px 0px 1px 0px;
	text-align: center;
}

#product DIV thead
{
	background-color: #ddd;
}

#product DIV .fb-comments
{
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	border-radius: 0px;
	-moz-border-radius: 0px;
	-khtml-border-radius: 0px;
	-webkit-border-radius: 0px;
	box-shadow: 0px 0px 0px #888888;
	overflow: hidden;
	border: 0px none transparent;
}

.box IMG
{
	height: 260px;
	margin-right: 20px;
}

.rightarea
{
	border: none 0px transparent;
	border-radius: 0;
	width: auto;
	float: right;
	text-align: right;
	margin: 0px 0px 20px 20px;
	overflow: auto;
	box-shadow: 0px 0px 0px #888888;
	padding: 10px;
}

.rightarea IMG
{
	width: 400px;
	box-shadow: 0px 0px 5px #888888;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-khtml-border-radius: 8px;
	-webkit-border-radius: 8px;
	margin: 0px 0px 10px 0px;
}

.offer
{
	color: red;
}

/******************************************
 *
 *    FOOTER
 *
 *****************************************/

FOOTER
{
	color: white;
	width: auto;
	font-size: 13px;
	height: 100px;
	padding: 30px;
	text-transform: uppercase;
    background-color: #332;
/*	background-image: url(../image/footer.png); */
	margin: 30px 0px 0px 0px;
	background-repeat: repeat-x;
	background-position: center bottom;
	border: 0px none;
}

FOOTER DIV
{
	width: 900px;
	margin: 30px auto;
}

FOOTER H3
{
	margin: 0px;
}

FOOTER H4
{
	margin: 0px;
	font-weight: normal;
}

FOOTER A
{
	float: right;
}


/******************************************
 *
 *    HEADER
 *
 *****************************************/


HEADER
{
	width: 100%;
	margin: 0px;
	display: block;
	overflow: visible;
	padding: 0px;
}

HEADER .upper-bar
{
    padding: 15px 20px 0px 20px;
    background-color: #4AB;
}

HEADER .lower-bar
{
    padding: 0px 20px 0px 20px;
    background-color: #FFF;
}

HEADER .bar-content
{
    width: 960px;
    vertical-align: bottom;
    margin: auto;
    padding: 0px;
}

HEADER .logoarea
{
	vertical-align: top;
	display: inline-block;
	top: 0px;
	text-align: right;
    padding: 0px 0px 0px 0px;
}

HEADER .logoarea IMG
{
	width: 280px;
	cursor: pointer;
}


HEADER NAV
{
	vertical-align: bottom;
	display: inline-block;
	text-align: right;
	padding: 0px;
	margin: 0px
}

HEADER NAV .item
{
	vertical-align: top;
	display: inline-block;
	font-size: 140%;
	font-weight: bold;
	padding: 20px 20px;
	border-radius: 0px 0px 10px 10px;
}

HEADER NAV .subitem
{
	font-size: 75%;
	margin-bottom: 0px;
	font-weight: normal;
}

HEADER NAV .item:HOVER, HEADER NAV .subitem:HOVER
{
	color: blue;
}


SECTION
{
}

HEADER .selsantech_logo
{
	width: 300px;
	margin: 20px 0px 0px 0px;
}

HEADER .right_box
{
	float: right;
	text-align: right;
	height: 100%;
}

HEADER .right_box > .language_area
{
	display: block;
	padding: 10px 0px;
	vertical-align: top;
}

HEADER .social_area
{
	display: block;
	padding: 5px 0px;
	vertical-align: bottom;
}

.dark_background { background-color: #ddd; }
.centered_box { text-align: center; }

DIV.content
{
	width: 900px;
	margin: 0px auto;
}

DIV.content UL
{
   	list-style-type: square;
}

DIV.content H1
{
	margin-top: 0px;
	margin-bottom: 40px;
	border-bottom: 1px solid #338;
	font-weight: normal;
	color: #338;
}

DIV.blue_background
{
	padding: 40px;
	background-color: #ccf;
	margin-top: 20px;
}

NAV
{
	padding: 25px 0px;
}
