
.product-item {
    display: inline-block;
	position: relative;
	overflow: visible;
    border-radius: 5px;
}

.product-item H2 {
	margin-top: 0px;
	color: #066;
}

.product-item .logo {
	float: left;
	padding: 30px;
	background-color: white;
	width: 360px;
	margin: 5px 20px 20px 5px;
	box-shadow: 0px 0px 5px #888;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-khtml-border-radius: 5px;
	-webkit-border-radius: 5px;
	overflow: visible;
}

.product-item .logo IMG {
	position: relative;
	margin: 0px;
	padding: 0px;
	background-color: transparent;
	width: 360px;
}

.fadein { position: relative; width: 360px; height: 197px; }
.fadein IMG { position: absolute; left: 30; top: 30; width: 360px; }

button {
	cursor: pointer;
	padding: 10px 20px;
	font-weight: bold;
	font-size: small;
}
