@charset "UTF-8";
/* CSS Document */


/* ---------------

Sensational Fix Flat Social Icons
Author: Jorge Calvo García
Please read the license agreement.

---------------  */

/* --------------- EN FLAG */
.flag_usa_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/flag_icons_transp.png) no-repeat;
}

.flag_usa_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/flag_icons_transp.png) no-repeat;
	background-position: -30px 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.flag_usa_transp:hover span {
	opacity: 1;
}


/* --------------- PT FLAG */
.flag_brazil_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/flag_icons_transp.png) no-repeat;
	background-position:0 -30px;
}

.flag_brazil_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/flag_icons_transp.png) no-repeat;
	background-position: -30px -30px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.flag_brazil_transp:hover span {
	opacity: 1;
}


/* --------------- TWITTER */

.twitter_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
}

.twitter_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px 0;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.twitter_transp:hover span {
	opacity: 1;
}


/* --------------- LINKEDIN */

.linkedin_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -30px;
}

.linkedin_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -30px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.linkedin_transp:hover span {
	opacity: 1;
}


/* --------------- DROPBOX */

.dropbox_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -60px;
}

.dropbox_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -60px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.dropbox_transp:hover span {
	opacity: 1;
}



/* --------------- Pinterest */

.pinterest_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -90px;
}

.pinterest_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -90px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.pinterest_transp:hover span {
	opacity: 1;
}



/* --------------- Blogger */

.blogger_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -120px;
}

.blogger_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -120px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.blogger_transp:hover span {
	opacity: 1;
}



/* --------------- Lastfm */

.lastfm_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -150px;
}

.lastfm_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -150px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.lastfm_transp:hover span {
	opacity: 1;
}



/* --------------- Facebook */

.facebook_transp {
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -180px;
}

.facebook_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -180px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.facebook_transp:hover span {
	opacity: 1;
}



/* --------------- Dribbble */

.dribbble_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -210px;
}

.dribbble_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -210px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.dribbble_transp:hover span {
	opacity: 1;
}



/* --------------- Soundcloud */

.soundcloud_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -240px;
}

.soundcloud_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -240px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.soundcloud_transp:hover span {
	opacity: 1;
}



/* --------------- Google plus */

.googleplus_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -270px;
}

.googleplus_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -270px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.googleplus_transp:hover span {
	opacity: 1;
}



/* --------------- Google plus */

.skype_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -300px;
}

.skype_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -300px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.skype_transp:hover span {
	opacity: 1;
}



/* --------------- Wordpress */

.wordpress_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -330px;
}

.wordpress_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -330px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.wordpress_transp:hover span {
	opacity: 1;
}


/* --------------- Youtube */

.youtube_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -360px;
}

.youtube_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -360px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.youtube_transp:hover span {
	opacity: 1;
}



/* --------------- yahoo */

.yahoo_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -390px;
}

.yahoo_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -390px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.yahoo_transp:hover span {
	opacity: 1;
}



/* --------------- Digg */

.digg_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -420px;
}

.digg_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -420px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.digg_transp:hover span {
	opacity: 1;
}



/* --------------- Youtube Classic */

.youtubeclassic_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -450px;
}

.youtubeclassic_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -450px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.youtubeclassic_transp:hover span {
	opacity: 1;
}



/* --------------- windowslive */

.windowslive_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -480px;
}

.windowslive_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -480px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.windowslive_transp:hover span {
	opacity: 1;
}



/* --------------- stumbleupon */

.stumbleupon_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -510px;
}

.stumbleupon_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -510px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.stumbleupon_transp:hover span {
	opacity: 1;
}



/* --------------- tumblr */

.tumblr_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -540px;
}

.tumblr_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -540px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.tumblr_transp:hover span {
	opacity: 1;
}



/* --------------- appdev */

.appdev_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -570px;
}

.appdev_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -570px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.appdev_transp:hover span {
	opacity: 1;
}



/* --------------- ebay */

.ebay_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -600px;
}

.ebay_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -600px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.ebay_transp:hover span {
	opacity: 1;
}



/* --------------- apple */

.apple_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -630px;
}

.apple_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -630px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.apple_transp:hover span {
	opacity: 1;
}



/* --------------- amazon */

.amazon_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -660px;
}

.amazon_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -660px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.amazon_transp:hover span {
	opacity: 1;
}



/* --------------- picassa */

.picassa_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -690px;
}

.picassa_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -690px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.picassa_transp:hover span {
	opacity: 1;
}



/* --------------- Behance */

.behance_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -720px;
}

.behance_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -720px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.behance_transp:hover span {
	opacity: 1;
}



/* --------------- Android */

.android_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -750px;
}

.android_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -750px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.android:hover span {
	opacity: 1;
}


/* --------------- Paypal */

.paypal_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -780px;
}

.paypal_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -780px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.paypal_transp:hover span {
	opacity: 1;
}


/* --------------- Vimeo */

.vimeo_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -810px;
}

.vimeo_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -810px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.vimeo_transp:hover span {
	opacity: 1;
}



/* --------------- Instagram */

.instagram_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -840px;
}

.instagram_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -840px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.instagram_transp:hover span {
	opacity: 1;
}



/* --------------- deviantart */

.deviantart_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -870px;
}

.deviantart_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -870px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.deviantart_transp:hover span {
	opacity: 1;
}



/* --------------- Flickr */

.flickr_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -900px;
}

.flickr_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -900px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.flickr_transp:hover span {
	opacity: 1;
}



/* --------------- Myspace */

.myspace_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -930px;
}

.myspace_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -930px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.myspace_transp:hover span {
	opacity: 1;
}



/* --------------- Google Drive */

.googledrive_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -960px;
}

.googledrive_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -960px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.googledrive_transp:hover span {
	opacity: 1;
}



/* --------------- RSS */

.rss_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -990px;
}

.rss_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -990px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.rss_transp:hover span {
	opacity: 1;
}



/* --------------- themeforest */

.themeforest_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -1020px;
}

.themeforest_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -1020px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.themeforest_transp:hover span {
	opacity: 1;
}



/* --------------- Delicio.us */

.delicious_transp{
	display: inline-block;
	position: relative;
	text-indent: -9999px;
	width: 30px;
	height: 30px;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position:0 -1050px;
}

.delicious_transp span {
	position: absolute;
	top: 0; left: 0; bottom: 0; right: 0;
	background:url(icons/social_icons_transp.svg) no-repeat;
	background-position: -30px -1050px;
	opacity: 0;
	-webkit-transition: opacity 0.5s;
	-moz-transition:    opacity 0.5s;
	-o-transition:      opacity 0.5s;
}

.delicious_transp:hover span {
	opacity: 1;
}


